<h2>A propos</h2>

<img src="src/app/img/profil.jpg" alt="Photo de profil Morgane Roulland">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis architecto praesentium, ea animi optio quam corporis blanditiis alias illum voluptatibus rerum eligendi nemo vel necessitatibus, repellat odio nihil, itaque reprehenderit.</p>

<h3>Mes compétences</h3>

<ul>
  <li>
    <p style="width: 60%;"><span>HTML: 60%</span></p>
  </li>

  <li>
    <p style="width: 20%;"><span>CSS: 20%</span></p>
  </li>

  <li>
    <p style="width: 10%;"><span>Javascript: 10%</span></p>
  </li>
</ul>

<p>N'hésitez pas à me contacter en cliquant <a href="#">sur ce lien</a>.</p>