@import url('https://fonts.googleapis.com/css?family=Kreon:700|Raleway:400,700');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*
Style Reset
*/

*{
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem; /* => 15px */
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1, h2, h3{
    font-family: 'Kreon', serif;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    text-shadow: black .1rem .1rem .1rem;
}

img{
    max-width: 100%;
}


/*
Style header
*/


    header, footer{
        background-color:darkslateblue;
        color: white;
        padding: 2rem;
        margin-bottom: 2rem;
        position: relative;
    }

    .fa-bars{
        position: absolute;

        background-color: darkslateblue;
        border: .3rem solid white;
        font-size: 1.5rem;
        padding-top: .5rem;
        width: 3.5rem;
        height: 3.5rem;
        bottom: 0;
        left: 50%;
        cursor: pointer;

        -webkit-border-radius: 50%;
        border-radius: 50%;

        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);

    }

    h1 span{
        display: block;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: .6em;
    }

    nav ul{
        margin: 1rem;
        height: 0;
        overflow: hidden;

        -webkit-transition: all 1s;
        transition: all .5s;
    }
    
    .toggleBurger{
        height: 13rem;
    }


    nav li{
        background: rgba(255, 255, 255, .5);
        padding: 1rem;
        margin-bottom: .5rem;
    }

    nav li:not(:last-child){
        margin-right: .5rem;

    }

    .active{
        background: white;
        -webkit-transition: all 1s;
        transition: all .5s;
    }

    .active a{
        color: darkslateblue;
        text-shadow: .05rem .1rem .05rem rgba(128, 128, 128, 0.7);
        font-weight: 700;
     }
/*
Style main
*/

    h2{
        color: darkslateblue;

    }

    h2:after{
        content: '';
        display: block;
        width: 6rem;
        height: .3rem;
        margin: 1rem auto 1rem auto;
        border-bottom: .2rem dotted darkslateblue;
    }

    h3{
        margin-bottom: 1rem;
    }



/* 
Style footer
*/

    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-bottom: 0;
    }


/*
Requêtes media 
*/

    @media screen and (min-width:850px){

        /* Style header */

        header{
            text-align: left;
        }

        .fa-bars{
            display: none;
        }

        nav ul{
            height: auto;
            position: absolute;
            right: 0;
            bottom: 0;
        }

        nav li{
            display: inline-block;

        }

        main, h1, nav{
            max-width: 85rem;
            margin: auto;
            position: relative;
    }
    }