{% for article in articles %}
    <h3>{{ article.title }} <small>{{article.categoryName}}</small></h3>
    <p><b>{{ article.shortContent }}</b></p>
    <p>{{ article.content }}</p>
    {% if not loop.last %} {# Si ce n'est pas la dernière boucle #}
        <hr> 
    {% endif %}
{%endfor %}