<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Page Portfolio</title>
    </head>
    <body>
        
        <h2>Découvrez mes travaux</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex saepe eaque vel nisi maxime velit quod ut qui. Nostrum, accusamus, repellat! Quibusdam doloremque, animi vel suscipit. Tempora pariatur eos, perspiciatis.</p>

        <figure>
            <img src="img/img1.jpg" alt="Projet 1">
            <figcaption>Projet 1 <button>Afficher les détails</button></figcaption>
        </figure>

        <figure>
            <img src="img/img2.jpg" alt="Projet 2">
            <figcaption>Projet 2 <button>Afficher les détails</button></figcaption>
        </figure>

        <figure>
            <img src="img/img3.jpg" alt="Projet 3">
            <figcaption>Projet 3 <button>Afficher les détails</button></figcaption>
        </figure>

        <figure>
            <img src="img/img4.jpg" alt="Projet 4">
            <figcaption>Projet 4 <button>Afficher les détails</button></figcaption>
        </figure>


        <!-- Modal -->
        <section id="modal">
            <article>
                <h2>Titre du projet <i class="fa fa-times"></i></h2>
                <img src="img/img1.jpg" alt="Projet 1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus necessitatibus similique at impedit recusandae dolores nulla cum autem fugiat sit incidunt voluptas tempora nostrum quidem ipsa praesentium commodi aliquam, veniam!</p>
            </article>
        </section>

    </body>
</html>