@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

/*
Animation
*/

    @-webkit-keyframes pictoHeaderAnim{
        0% { transform: translateY(0); }
        50% { transform: translateY(1rem); }
        100% { transform: translateY(0); }
    }

    @keyframes pictoHeaderAnim{
        0% { transform: translateY(0); }
        50% { transform: translateY(1rem); }
        100% { transform: translateY(0); }
    }


/*
Style Reset
*/

    /* Supprimer toutes les marges */
    *{
        margin: 0;
        padding: 0;
    }

    /* Configurer l'utilisation de 1rem = 10px */
    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem; /* => 15px */
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: center;
    }

    a{
        text-decoration: none;
        color: #349aa6;
    }
    
    span{
        text-transform: lowercase;
    }

    /* Appliquer deux designs différents sur la balise h1 */
    h1{
        font-size: 1.5rem;
        line-height: 1.8em; 
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 4rem;
    }

    h1 b{
        font-size: 2em; /* Deux fois plus grande que la police de référence */
        display: block;
    }

    h2, h3{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2.2rem;
    }

    section{
        padding: 4rem 2rem;
    }

    p{
        padding: 4rem 0;
    }

    figure{
        padding: 2rem 0;
    }

    img{
        max-width: 100%;
    }

/*
Style header
*/
    header{
        color: white;

        /* Configurer l'image de fond */
        background-image: url(../img/img-couverture-iphone.jpg);

        /* Positionner l'image de fond */
        background-position: top;

        /* Modifier la taille de l'image de fond */
        background-size: 150%;

        /* Bloquer l'image de fond */
        background-attachment: fixed;
    }

    nav{
        background: #002a35;
        padding: 1rem;
        margin-bottom: 4rem;
    }

    li{
        display: inline-block;
        width: 45%;
    }

    /* Sélectionner une balise grâce à son attribut */
    [src="img/logo-GRT-gaz-blanc.png"]{
        width: 15rem;
        margin-bottom: 4rem;
    }

    /* Sélectionner une balise suivante */
    h1+a{
        background-color:#349aa6;
        
        /* Pour pouvoir ajouter les dimensions de la balise a, on est obligé de la passer du type inline à block (car les balises inline n'ont pas de hauteur) */
        display: inline-block;
        width: 5rem;
        height: 5rem;
        margin-bottom: 8rem;

        /* Créer un rond avec une balise carrée */
        border-radius: 50%;

        /* Afficher l'animation */
        -webkit-animation-name: pictoHeaderAnim;
        animation-name: pictoHeaderAnim;
        
        /* Définir la durée */
        -webkit-animation-duration: 1s;
        animation-duration: 1s;

        /* Définir le nombre de boucle*/
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    a img{
        margin-top: 1rem; 
    }

    /*
    Style main
    */
        /* CalltoAction*/
        .callToAction{
            color: white;
            border: .1rem solid white;
            display: inline-block;
            padding: 1rem;
            border-radius: .5rem;
            margin-top: 2rem;
        }

        .callToAction.blue{
            color: #349aa6;
            border-color: #349aa6;
        }

        /* Programme / Réponse  */
        section:nth-child(2), section:nth-child(4){
            color: white;

            /* Effet parallaxe CSS */
            background-image: url(../img/img-foule.jpg);
            background-attachment: fixed;
            background-position: center;
        }


        /* Solutions / Chiffres / Footer */
        section:nth-child(3), section:nth-child(7), footer{
            color: white;
            background: #349aa6;
        }


        /* Inscrivez-vous */
        [alt="logo Salon des Maires"]{
            width: 10rem;
            margin-bottom: 2rem;
        }


        /* Vidéo */
        section:nth-child(6){
            background-color: #349aa6;
            /* Bloquer les enfants dans le parent */
            position: relative;

            /* Masquer les balises enfants qui dépassent */
            overflow: hidden;
        }

        video{
            /* Placer ma video en fond d'écran */
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }

        section:nth-child(6) article{
            color: white;
            background: rgba(0, 0, 0, .7);
            padding: 4rem 2rem;

            /* Faire passer la balise sur la première couche */
            position: relative;
            z-index: 1;
        }

        section:nth-child(6) h3{
            font-weight: 900;
            font-size: 1.7rem;
            margin-bottom: 2rem;
        }
        
       section:nth-child(6) a{
           color: white;
       }


       /* Chiffres*/

        section:nth-child(7) figure{
            display: inline-block;
            vertical-align: top;
            width: 49%;

        }

        /* Présentation */
        article + img{
            width: 18rem;
            margin-bottom: 4rem;
        }

        /* La balise iframe permet d'afficher une map */
        iframe{
            border: none;
            width: 100%;
            /* Il faut nécessairement ajouter une hauteur minimum pour naviguer dans la map*/
            min-height: 30rem;
        }

    /* Footer */
        footer{
            font-size: 1rem;
            padding: 2rem;
        }