<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Page à propos</title>
    </head>
    <body>

        <h2>A propos</h2>
        <img src="img/profil.jpg" alt="Photo de profil Morgane Roulland">  <!-- On charge l'image depuis l'index et non about -->

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis architecto praesentium, ea animi optio quam corporis blanditiis alias illum voluptatibus rerum eligendi nemo vel necessitatibus, repellat odio nihil, itaque reprehenderit.</p>
        

        <h3>Mes compétences</h3>
        <ul>
            <li>
                <p><span>HTML: 60%</span></p>
            </li>

            <li>
                <p><span>CSS: 20%</span></p>
            </li>

            <li>
                <p><span>Javascript: 10%</span></p>
            </li>
        </ul>

        <p>N'hésitez pas à me contacter en cliquant <a href="#">sur ce lien</a>.</p>
    </body>
</html>